*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: grey;
}

header{
    background-color: white;
}

ul, ol {
    padding-left: 18px;
    list-style: none
}
/*main*/


.container{
    width: 75%;
    background-color: red;
    margin: 0 auto;
}

#list-container{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.check {
    border-radius: 50%;
    border: 1px solid grey;
    color: grey;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}


.done {
    border-color: green;
    color: green;
}

.not-done {
    border-color: red;
    color: red;
}

.editorial{
    background-color: blue;
    border-radius: 20px;
    color: white;
    padding: 5px;
}

.Q1-GOALS{
    background-color: violet;
    border-radius: 20px;
    color: white;
    padding: 5px;
}

.Recruiting{
    background-color: green;
    border-radius: 20px;
    color: white;
    padding: 5px;
}

.Mobile{
    background-color: yellow;
    border-radius: 20px;
    color: white;
    padding: 5px;
}

.Website{
    background-color: pink;
    border-radius: 20px;
    color: white;
    padding: 5px;
}

.Sales{
    background-color: brown;
    border-radius: 20px;
    color: white;
    padding: 5px;
}